<!--外联样式表-->
<link rel="stylesheet" href="./css/about.css">
<!--地图api-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=rSypO9uLv1GGqFk5ES9Lwasyp5NypeSN"></script>
<div class="box">
    <!--标题-->
    <div class="title">
        <div class="ti">关于庄园</div>
        <div>ABOUT US</div>
    </div>
    <div class="navs">
        <!--导航-->
        <ul>
            {{#each about_nav}}
            <li class="list">{{title}}</li>
            {{/each}}
        </ul>
        <!--交通指引-->
        <div class="content">
            <div class="custom-scroll map">
                <p>尊敬的游客：</p>
                <p class="txt">欢迎您来到全国首席爱情主题庄园——中国薰衣草庄园！
                    为方便您更好地到达园区，特对庄园路线进行如下说明：</p>
                <p class="txt">目前，到达园区有三条路线，游客可根据自己所在地选择最便捷的路线：</p>
                <p>1、龙门大道——过龙门北桥——沿伊河东岸向北行5公里——沿希望大道前行即到。（详见下图红色路线）</p>
                <p>2、龙门大道——高铁大道（颐君大厦向东）——过高铁大桥——规划路——沿希望大道前行即到（详见下图绿色路线）</p>
                <p>3、开元大道——伊河大桥——右拐沿河堤大道直行4公里——沿希望大道前行即到（详见下图蓝色路线）</p>
                <h3>注：庄园正南门在希望大道</h3>
                <p class="txt">图片导航：</p>
                <img src="./images/about/1468051954.png" alt="">
                <p class="txt">地图导航:</p>
                <div id="allmap"> </div>
            </div>
        </div>
        <!--庄园介绍-->
        <div class="content">
            <div class="custom-scroll recommend">
                <p> 洛阳中国薰衣草庄园位于伊河东岸，伊滨区的生态廊道上，南临龙门石窟，东以二广高速为界，高铁大道及希望大道两条跨河大道自西向东穿过整个庄园。庄园总面积达6000多亩，是集旅游观光、特色农业、度假养生、星级酒店等功能为一体的大型创意观光农业园，我们定位为河南唯一，行业领跑。庄园是以爱情为主题，以浪漫爱情文化作为园区的设计灵魂，极力打造出龙门山下的普罗旺斯，伊水之畔的玫瑰花园。庄园分两期开发，目前一期开发的是位于中部的紫香花田片区，总面积达2000多亩。 </p>
                <p>“龙门山下的普罗旺斯，伊水之畔的玫瑰花园”，自2014年6月21日开园以来，庄园成功举行薰衣草旅游推介会、国际薰衣草文化节、挑战吉尼斯最长香草蛋糕、薰衣草丰收节、薰衣草万人丰收宴等一系列精彩活动，吸引了省内外近25万名游客前来游览观光。2014年10月，国际薰衣草文化节曾被央视四套重点报道，庄园先后荣获“2014年度洛阳市旅游工作先进单位”、2014中国最美旅游度假区北赛区前三甲。目前在省内外享有高度知名度！</p>
                <p> 2015年牡丹文化节期间，中国薰衣草庄园举办的国际风车节，受到了省内外各家媒体的关注，央视4套及人民日报均对活动进行了大力度的报道。活动期间，累计吸引了游客近32万人次，来自安徽、江苏、江西、山东的知名景区考察团先后莅临景区调研！</p>
                <p>庄园整体规划为三大主题片区：以桃花林和腊梅林为主体的“生态农庄”片区；以薰衣草种植为主体的“紫香花田”片区；以玫瑰种植为主体的“玫瑰谷”片区。庄园极力营造浪漫温馨的氛围，建造一系列高雅时尚的场所以承载各类主题活动；旅游产品上，策划覆盖表白、求婚、蜜月、怀旧、置业、亲子等与爱情相关的特色活动，使庄园内的所有活动都打上甜蜜浪漫的标签，让处在各个人生阶段的有情人都能在这里找到属于自己的乐园。</p>
                <p>薰衣草有“百草之王”的美称，广泛使用于医疗、美容各个领域。薰衣草精油对头痛、疤痕、内分泌失调、神经衰弱、失眠等各类常见症状都有疗效，是目前非常热门的产品。庄园内种植的薰衣草和玫瑰，将形成从育苗--加工--包装到销售的完整产业链，弥补河南在香草深加工行业的空白，成为中原地区香草种植行业领跑者。另外还可以依托洛阳高校和国内专家的技术支持，为薰衣草产业链的发展插上腾飞的翅膀。</p>
                <p>洛阳•中国薰衣草庄园必将成为中原地区一颗璀璨的明珠，成为高品位休闲旅游度假的理想去处！</p>
            </div>
        </div>
        <!--庄园美景-->
        <div class="content">

            <div class="custom-scroll scenery">
                <p class="scen">

                </p>
            </div>
        </div>
        <!--香草商店-->
        <div class="content">
            <div class="custom-scroll shopping">
                <p>薰衣草文化馆位于薰衣草庄园紫韵香街游客中心二楼，馆内面积1000平方米，是薰衣草庄园主题文化产业的重要组成部分，文化馆分为三个片区：薰衣草科普区、精品展示区、产品体验区，其中包括薰衣草精油、枕头、香草花茶、薰衣草小熊等薰衣草主题产品以及庄园自产的农产品，共有十四大品类四百多种产品，是中原地区最大最为齐全的香草文化馆</p>
                <div class="shop">

                </div>
                <p>薰衣草庄园购物中心特色产品</p>
                <p>QQ：2710702079</p>
            </div>
        </div>
        <!--婚纱婚庆-->
        <div class="content">
            <div class="custom-scroll wedding">
                <p style="text-align: center">洛阳·中国薰衣草庄园婚庆部</p>
                <p style="text-indent: 50px;">作为全国首席爱情主题庄园，中国薰衣草庄园在打造景观时极力营造浪漫的氛围，自2014年6月21日成立的婚庆部，以承载一系列高雅时尚的婚庆主题活动为目的，打造全国最大以薰衣草为为主题的婚纱摄影基地！目前，洛阳大部分知名婚纱影楼均与园区签订合作协议，每天在庄园拍摄婚纱照的新人达100对之多！</p>
                <p style="text-indent: 50px;">赏浪漫薰衣草，办唯美草坪婚礼！薰衣草庄园婚庆部有一支专业的婚庆策划团队，依托园区优质的室外草坪资源，承接浪漫室外草坪的举行！在园区内的爱丽丝钢琴餐厅、走过咖啡屋等多个区域，均可举办浪漫的草坪婚礼！</p>
                <p style="text-indent: 50px;">龙门山下的普罗旺斯，伊河之畔的浪漫花园！从相识、相知、相恋到走进婚礼，从金婚、银婚到钻石婚，从曾经年少到白发苍苍，这里为您精心设计了一条爱情的线索，一条亲情的纽带！不得不说；“我一生中最浪漫的时光，都与这里息息相关。</p>
                <img src="./images/about/1422337655.jpg" alt="">
                <img src="./images/about/1422337675.jpg" alt="">
                <img src="./images/about/1422337683.jpg" alt="">
                <img src="./images/about/1422337698.jpg" alt="">
                <img src="./images/about/1422337707.jpg" alt="">
                <img src="./images/about/1422337717.jpg" alt="">
                <p>拍唯美婚纱，办浪漫婚礼！</p>
                <p>婚庆专线：15003798381   闫经理</p>
            </div>
        </div>
        <!--市场合作-->
        <div class="content">
            <div class="custom-scroll cooperation">
                <p style="text-align: center">欢迎加入我们的薰衣草事业</p>
                <p>洛阳·中国薰衣草庄园总面积6000多亩，是集旅游观光、特色农业、度假养生、五星级酒店等功能为一体的大型创意观光农业园，是中原地区面积最大，香草品种最多的“爱情”主题庄园。</p>
                <p>“龙门山下的普罗旺斯，伊水之畔的玫瑰花园”，自2014年6月21日开园以来，庄园成功举行薰衣草旅游推介会、国际薰衣草文化节、挑战吉尼斯最长香草蛋糕、薰衣草丰收节、薰衣草万人丰收宴等一些列精彩活动，吸引了省内外近25万名游客前来游览观光。2014年10月，国际薰衣草文化节曾被央视四套重点报道，庄园荣获2014中国最美旅游度假区北赛区前三甲，目前在省内外享有高度知名度！</p>
                <p>洛阳·中国薰衣草庄园以强大的品牌资源、雄厚的运作资本、完善的营销网络、专业的营销团队、先进的经营理念等众多优质资源，竭诚欢迎您的合作！</p>
                <p>招商条件</p>
                <p>1、具有强烈的发展欲望，能与企业先进的经营理念保持一致，与企业达成开拓市场、 追求共赢的共识。</p>
                <p>2、具备一定的资金实力。</p>
                <p>3、具有比较完善的渠道销售网络，专业的销售团队。</p>
                <p>招商合作电话：0379--67676698</p>
            </div>
        </div>
    </div>

</div>

<script src="./js/scrollbot.min.js"></script>
<!--//数据请求-->
<script>
    $.get('/api/about/',function(result){
        console.log(result);
        if(result.success){
            console.log(result.data);
            for(var i = 0; i < result.data.length;i++){
                var s = result.data[i];
                $('<img src="'+ s.img +'">').appendTo($('.scen'));
            }
        }else{
            alert(result.data);
        }
    });
    $.get('/apis/about/',function(result){
        console.log(result);
        if(result.success){
            console.log(result.data);
            for(var i = 0; i < result.data.length;i++){
                var s = result.data[i];
                $('.shop')[0].innerHTML += '<div>'+
                                '<img src="'+ s.url +'">'+
                                '<p class="s_title">名称：'+ s.title +'</p>'+
                                '<p class="s_price">售价：'+ s.price +'元</p>'+
                                '<p>'+ s.virtue_title +'</p>'+
                                '<p>'+ s.virtue_1 +'</p>'+
                                '<p>'+ s.virtue_2 +'</p>'+
                                '<p>'+ s.virtue_3 +'</p>'+
                        '</div>';
            }
        }else{
            alert(result.data);
        }
    });
</script>
<!--//滚动条-->
<script>
    var bar = new scrollbot('.map',5);
    noOrbk('.map',bar);

    var rec = new scrollbot('.recommend',5);
    noOrbk('.recommend',rec);

    var nec = new scrollbot('.scenery',5);
    noOrbk('.scenery',nec);

    var shop = new scrollbot('.shopping',5);
    noOrbk('.shopping',shop);

    var wed = new scrollbot('.wedding',5);
    noOrbk('.wedding',wed);

    var coop = new scrollbot('.cooperation',5);
    noOrbk('.cooperation',coop);

    function noOrbk(ele,sty) {
        sty.setStyle({
            display:'none'
        },{
            display:'none'
        });

        $(ele).on('mouseenter',function () {
            sty.setStyle({
                background:'#9400D3',
                display:'block'
            },{
                background:'#FCDEFC',
                display:'block'
            })
        });
        $(ele).on('mouseleave',function () {
            sty.setStyle({
                background:'#9400D3',
                display:'none'
            },{
                background:'#FCDEFC',
                display:'none'
            })
        });
    }
</script>
<!--//排他逻辑-->
<script>
    $('.navs ul .list:first-child').addClass('active');
    $('.content').hide();
    $('.content').eq(0).show();
    $('.list').mousemove(function () {
        $(this).addClass('active').siblings().removeClass('active');
        idx = $(this).index();
        $('.content').eq(idx).show();
        $('.content').not($('.content').eq(idx)).hide();

    })
</script>
<!--地图-->
<script>
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(112.53, 34.62);
    map.centerAndZoom(point,15);

    map.addControl(new BMap.NavigationControl());        // 添加平移缩放控件
    map.addControl(new BMap.ScaleControl());             // 添加比例尺控件
    map.addControl(new BMap.OverviewMapControl());       //添加缩略地图控件
    map.enableScrollWheelZoom();                         //启用滚轮放大缩小

    var removeMarker = function(e,ee,marker){
        map.removeOverlay(marker);
    }
    //创建右键菜单
    var markerMenu=new BMap.ContextMenu();
    markerMenu.addItem(new BMap.MenuItem('删除',removeMarker.bind(marker)));

    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    marker.addContextMenu(markerMenu);
</script>

