<div class="box">
    <div>
        <h1>关于庄园</h1>
        <h2>ABOUT US</h2>
    </div>
    <div>

        <ul>
            {{#each about_nav}}
            <li>{{title}}</li>
            {{/each}}
        </ul>
    </div>
</div>



<script src="./js/about.js"></script>