
    <div class="nywrap">
        <div class="main">
            <div class="left">
                <div class="left_bt">
                    <div class="zyhd">庄园活动</div>
                    <div class="zyhdenglish">Manor activity</div>
                </div>
            </div>
            <div class="right">
                <ul class="navul">
                    <li>薰衣草音乐节</li>
                    <li>光影动漫节</li>
                    <li>最新动态</li>
                    <li>精彩活动</li>
                </ul>

                <ul class="ullist">
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                    <li><a href="" class="lefta">吃货福利！薰衣草庄园吃100送100啦！！！</a><a href="" class="righta">[2017-06-02]</a></li>
                </ul>

                <div class="fenye">
                    <p>共<span>113</span>条记录,当前页第<span>1</span>/<span>12</span>页,每页<span>10</span>条记录<span><a
                            href="">首页</a> <a href="">上一页</a> <a href="">下一页</a> <a href="">末页</a></span></p>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .nywrap{
        width:1400px;
        height:646px;
        margin: 0 auto;

        background: url("images/nybj2.jpg") no-repeat center center;
    }
    .nywrap .main{
        width:980px;
        height:auto;
        margin:0 auto;
        border: 1px solid red;
    }
    .nywrap .left{
        float: left;
    }
    .nywrap .left .left_bt{
        width: 215px;
        height: 81px;
        background: url("images/nybt.png")no-repeat right top ;
    }
    .nywrap .left .left_bt .zyhd{
        padding-left:50px;
        padding-top: 15px;
        font-size: 25px;
        font-weight:bold;
    }
    .nywrap .left .left_bt .zyhdenglish{
        padding-left: 50px;
    }

    .nywrap .right{
        float: left;
        margin-left: 15px;
        padding-top: 30px;
        vertical-align: middle;
    }
    .nywrap .right .navul{
        list-style: none;
        width:750px;
        height:28px;
        background-color: #8E72A6;
    }
    .nywrap .right .navul li{
        float: left;
        width:120px;
        height:28px;
        line-height:28px;
        color: #fff;
        font-size: 14px;
        text-align: center;
    }
    .nywrap .right .navul li:first-child{
        padding-left: 10px;
    }
    .nywrap .right .navul li:hover{
        background-color: #471C6C;
    }
    .nywrap .right .ullist{
        list-style: none;
    }
    .nywrap .right .ullist li{
        border-bottom: 1px dashed #CDADC1;
        height:40px;
        line-height: 40px;
        padding:0 10px 0 10px;
    }
    .nywrap .right .ullist li .lefta{
        display: block;
        float: left;
        color: #A261AF;
    }
    .nywrap .right .ullist li .lefta:hover{
        color: #DDA3FC;
    }
    .nywrap .right .ullist li .righta{
        display: block;
        float: right;
        color: #DDA3FC;
    }
    .nywrap .right .ullist li .righta:hover{
        color: #A261AF;
    }
    a{
        text-decoration: none;
        font-size: 12px;
    }
    .nywrap .right .fenye{
        width:550px;
        height:30px;
        text-align: center;
        line-height: 30px;
        margin: 15px auto;
        border: 1px solid #ccc;
    }
    .nywrap .right .fenye p{
        font-size: 14px;
    }


</style>