<link rel="stylesheet" href=/css/eat.css>
<div id="eat_wrap">
    <div class="eat_box">
        <div class="eat_left">
            <div class="eat_l_bt">
                <div class="eat_l_cn">吃在庄园</div>
                <div class="eat_l_en">Eat in the manor </div>
            </div>

        </div>

        <div class="eat_right">
            <div class="eat_r_wrap">
                <div class="eat_r_nav" id="eat_r_nav">
                    <ul>
                        <li class="eat_r_item">钢琴餐厅</li>
                        <li class="eat_r_item">主体餐吧</li>
                        <li class="eat_r_item">会所</li>
                        <li class="eat_r_item">美食部落</li>
                    </ul>
                </div>
                <div class="eat_r_wrap">
                    <div class="eat_r_content cen has-scrollbar">
                        <div class="eat_r_scrollbar">
                            <div class="eat_r_s_item">
                                <ul>
                                    <div>　<span>爱丽丝钢琴餐厅，是世界上造型最独特的建筑之一，建筑主体采用黑色的钢琴造型，而楼梯则设计在透明的大提琴内，装修风格唯美浪漫！餐厅总建筑面积1500平方米，包括二楼主餐厅与三楼露台，可同时容纳200人就餐。</span></div>
                                    <div class="mar"><span>　　餐厅时尚典雅，提供一流的中西式大餐，形色美观，口味鲜美，营养丰富，由专业大厨为您精心料理！餐厅还提供各式甜点与饮品，为游客打造非同一般的下午茶时光，而贴近自然的露天餐桌更为游客平添了几分雅趣和兴致。一边欣赏美景，一边品尝美食，让您醉心其中！在浪漫钢琴餐厅就餐，将音乐与美食与建筑结合起来，让味蕾与心灵得到极致满足！</span></div>
                                    <p><img width="639" height="420" src="/images/eat/1466237644.png" alt=""></p>
                                    <p>&nbsp;</p>
                                    <p><img width="550" height="400" src="/images/eat/1466238254.jpg" alt="">&nbsp;</p>
                                    <div>&nbsp;</div>
                                    <p><img alt="" width="550" height="374" src="/images/eat/1422330094.jpg"></p>
                                    <div>&nbsp;</div>
                                    <p><img width="451" height="299" src="/images/eat/1466238301.jpg" alt=""></p>
                                </ul>
                                <ul>
                                    <p class="mar">　<span style="font-size: large;">　薰衣草主题餐吧位于庄园门口紫韵香街，是一家以经营中餐为主的美食餐厅。餐吧分为上下两层，可供100人同时就餐。餐厅主打各色中式快餐与川湘味农家小炒，以大众消费群体为主，环境清幽，干净卫生，口味纯正，价格低廉。餐厅中座席配有双人式、四人式、沙发式、情人座及家庭式等多种形式，空间宽敞，是您旅行就餐的不二选择！</span></p>
                                    <p><img alt="" width="550" height="298" src="/images/eat/1422330956.jpg"></p>
                                    <p>&nbsp;</p>
                                    <p><img alt="" width="550" height="441" src="/images/eat/1422330989.jpg"></p>
                                    <p><img alt="" width="550" height="369" src="/images/eat/1422330999.jpg"></p>
                                    <p><img alt="" width="550" height="434" src="/images/eat/1422331010.jpg"></p>
                                    <p><img src="/images/eat/1466245795.jpg" width="550" height="450" alt=""></p>
                                </ul>
                                <ul>
                                    <p class="mar">　　<span>餐厅位于香醍河畔会所二楼，中式高档装修，风格典雅，环境清幽，内设大厅与特色雅间，菜品齐美，在消费的群体上也涵盖广泛，从中高档到大众消费，从雅间到大厅，不同的环境有不一样的风情，可以接待一般的商务、旅游团宴，也可满足大众消费需求。餐厅精选优良新鲜食材，烹制时除了追求醇正的口感外，兼顾营养的科学配比，为您的饮食健康做到全方位的调理！</span></p>
                                    <p><span style="font-size: large;"><img width="716" height="1074" alt="" src="/images/eat/1466239889.jpg"></span></p>
                                    <p><img width="691" height="458" alt="" src="/images/eat/1466239921.jpg"></p>
                                    <p><img width="550" height="451" src="/images/eat/1422330542.jpg" alt=""></p>
                                    <p>&nbsp;</p>
                                    <p><img width="550" height="453" src="/images/eat/1422330554.jpg" alt=""></p>
                                    <p><img width="705" height="937" alt="" src="/images/eat/1466239941.jpg"></p>
                                </ul>
                                <ul>
                                    <p class="mar">　　美食街共18家档口，共有20多种小吃，主要经营全国各地及洛阳本地知名小吃，现有美食有开封相国府锅贴、长沙臭豆腐、老佛爷米皮铺子、刘福记热干面、老北京爆牛肚、天下第一粉（酸辣粉）、老洛阳水席扣碗、清真烤海鲜、重庆小面、老潼关肉夹馍、童记煲仔饭、西安牛、羊肉泡馍、云南过桥米线、铁板系列以及马坡烧烤各类小吃等。各类小吃都经过以加盟、连锁形式进行挑选定位的，每个品种在当地都属于非常有特色的美食小吃。在这里你可以在享受美景的同时，品尝到来自全国各地的小吃，满足您的口舌之欲。</p>
                                    <p><img width="650" height="365" alt="" src="/images/eat/1466565261.jpg"></p>
                                    <p>&nbsp;</p>
                                    <p><img width="650" height="365" alt="" src="/images/eat/1466565269.jpg"></p>
                                    <p>&nbsp;</p>
                                    <p><img width="389" height="558" alt="" src="/images/eat/1466565278.jpg"></p>
                                    <p>&nbsp;</p>
                                    <p><img width="650" height="365" src="/images/eat/1466566168.jpg" alt=""></p>
                                    <p>&nbsp;</p>
                                    <p><img width="650" height="433" alt="" src="/images/eat/1466565287.png"></p>
                                </ul>

                            </div>

                        </div>

                        <div class="cpane"><div class="cslider" style="height: 55px; top: 0px;"></div></div></div>
                </div>

                <!--<script>-->
                    <!--$(function(){-->
                        <!--$(".cen").nanoScroller({contentClass: 'cp',paneClass: 'cpane',sliderClass: 'cslider'});-->
                    <!--});-->
                <!--</script>-->
            </div>
        </div>
    </div>
</div>
<script>
    $('#eat_r_nav ul li').on('mouseenter',function(){
        $(this).css({ "background-color":"#664184",
            "cursor": "pointer"}).siblings().css({"background":"#8E72A6"});
        $('.eat_r_s_item ul').eq($(this).index()).css("display","block").siblings().css("display","none");
    })
</script>
