<!--外联样式表-->
<link rel="stylesheet" href="./css/play.css">
<div class="box">
    <!--标题-->
    <div class="title">
        <div class="ti">玩在庄园</div>
        <div>Playing in the fram</div>
    </div>
    <div class="navs">
        <ul>
            <li>美颜温泉</li>
            <li>卡丁车</li>
            <li>游乐场</li>
            <li>儿童乐园</li>
            <li>高尔夫</li>
            <li>网球</li>
            <li>室内泳池</li>
        </ul>
        <div class="content">
            <div class="custom-scroll spa">
                <p>全国首家美颜温泉——花香温泉欢迎您！</p>
                <p>洛阳•中国薰衣草庄园温泉度假小镇是集旅游观光、温泉养生、住宿餐饮、亲子娱乐、商务会议为一体的综合式休闲场所。</p>
                <p>花香温泉，是小镇内的一大养生圣地，更是中原唯一偏硅酸美颜温泉。现有各类汤池50余个，均属于珍稀的碳酸温泉，且均为无任何添加的纯天然地下温泉水，含有锶等多种矿物元素，尤以偏硅酸含量高达24.8mg/L为最大特色，泉水清澈，可以直饮。此类温泉水中，以偏硅酸形式存在的硅元素能对皮肤起到相当于“清洁器”的作用，有软化皮肤角质、防衰老、并使皮肤光滑细腻的功效，且经常泡美白效果显著。可媲美历史上著名的西安华清池。</p>
                <p>小镇内环境以浪漫幽雅的地中海式风格为主。按类别分，有花香类汤池、鱼疗池、私人定制双人汤池、大型温泉游泳池等，浪漫温馨独具特色。碧云蓝天、假山飞瀑、小桥流水，还有美丽的薰衣草为伴。来到这里您仿佛置身于度假中的马尔代夫，惬意、自在！</p>
                <img src="./images/play/1466245528.jpg" alt="">
                <img src="./images/play/1466245534.jpg" alt="">
                <img src="./images/play/1466245540.jpg" alt="">
                <img src="./images/play/1466245545.jpg" alt="">
                <img src="./images/play/1466245550.jpg" alt="">
                <img src="./images/play/1466245556.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <div class="custom-scroll car">
                <p>卡丁车跑道占地约5000平米 ，位于庄园情人路北侧。卡丁车（Karting），又称高卡车（Go-Kart）或小型赛车，是一种赛车运动。车子不论大小、功率输出比专业级的要少得多，适合初学者学习及作为休闲之用。卡丁车具有结构简单，安全性高而又极具竞速特性，因此在欧洲及日本等国家极为普及和流行，大部分世界著名的F1车手如：巴西车王塞纳，法国名将普罗斯特，德国车手舒马赫，都是由驾驶卡丁车开始，步入车坛。所以卡丁车又被喻为“F1的摇篮”。</p>
                <p>到薰衣草庄园，任意驰骋的快意，感受速度与激情！</p>
                <img src="./images/play/1466232798.jpg" alt="">
                <img src="./images/play/1438743478.jpg" alt="">
                <img src="./images/play/1438743487.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <div class="custom-scroll play-field">
                <p>游乐场位于停机坪对面，设有旋转木马、过山车、海盗船、迷宫、滑梯等游乐设备。这些游乐项目融参与性、观赏性、娱乐性、趣味性于一体，干净清爽的环境与氛围，让人们可以在其中尽情的嬉戏和释放。多主题、多风格的搭配为广大游客提供了多彩的世界级游玩体验，是真正适合每一个人游玩的欢乐天堂！</p>
                <img src="./images/play/1438755713.jpg" alt="">
                <img src="./images/play/1466233019.png" alt="">
                <img src="./images/play/1438755732.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <div class="custom-scroll child">
                <p>儿童乐园位于庄园咖啡屋附近，设有组合滑梯、动物造型滑梯、秋千、跷跷板、脚踩转筒等游乐设施，小巧别致，色彩明快，安全性强，集健康、安全、刺激、娱乐为一体，可以锻炼孩子手、脑的协调及反应能力，且能培养孩子的胆识。在薰衣草儿童乐园，让宝贝们体验新鲜、刺激与动感，体验成长的快乐！</p>
                <img src="./images/play/1466233440.jpg" alt="">
                <img src="./images/play/1466233994.png" alt="">
                <img src="./images/play/1466233994.png" alt="">
            </div>
        </div>
        <div class="content">
            <div class="custom-scroll golf">
                <p>薰衣草庄园内设有室外高尔夫场与室内高尔夫体验馆，充分满足高尔夫爱好者的不同需求。</p>
                <p>“高尔夫”是荷兰文“kolf”的音译，原意为“在绿地和新鲜空气中的美好生活”。这从高尔夫球的英文单词GOLF可以看出来：G-绿色（green）；O-氧气（oxygen）；L-阳光（light）；F-友谊（friendship）。它是一种把享受大自然乐趣、体育锻炼和游戏集于一身的运动。</p>
                <p>到薰衣草庄园，在草坪上挥动球杆，体验贵族休闲，感受惬意人生！</p>
                <img src="./images/play/1466234666.jpg" alt="" class="img">
                <img src="./images/play/1466234685.png" alt="">
                <img src="./images/play/1466234707.png" alt="" class="img">
            </div>
        </div>
        <div class="content">
            <div class="custom-scroll tennis">
                <p>网球场位于香醍河畔会所外，环境优美，视野开阔。现代网球起源于法国，现在是一项奥运会比赛项目，适合社会各阶层与年龄段人群。网球是一种有氧户内外运动之一，由于成天忙于工作、学习和生活，大多数的时间在室内中度过，需要到室外进行一些户外运动，网球就是最好的选择之一。在网球运动中，需全神贯注排除一切杂念，快速的奔跑击球、大力扣杀等活动可以把一天的疲劳、困扰等挥洒得干干净净，使身心完全地放松，特别是在击出了一个好球，击出了一个不该失误的球时，你可以充分的咆吼、跳跃、丢拍子等，释放你的个性气质！</p>
                <img src="./images/play/1422340139.jpg" alt="">
                <img src="./images/play/1466235323.jpg" alt="">
                <img src="./images/play/1422340160.jpg" alt="">
                <img src="./images/play/1466235357.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <div class="custom-scroll swimming">
                <p>室内游泳池位于香醍河畔一楼，拥有长25米、3泳道标准的恒温泳池，储物柜、更衣室等配套设施，泳池分浅、中、深三个区域，优良水质，同时配有背景音乐，设备一流，是上流社会人士闲暇游泳及社交活动之场所。</p>
                <img src="./images/play/1466238611.jpg" alt="">
                <img src="./images/play/1438743540.jpg" alt="">
                <img src="./images/play/1466238755.png" alt="">
            </div>
        </div>
    </div>
</div>

<!--滚动条-->
<script src="./js/scrollbot.min.js"></script>
<script>
    //美颜温泉
    var spa = new scrollbot('.spa',5);
    noOrbk('.spa',spa);
    //卡丁车
    var car = new scrollbot('.car',5);
    noOrbk('.car',car);
    //游乐场
    var field = new scrollbot('.play-field',5);
    noOrbk('.play-field',field);
    //儿童乐园
    var child = new scrollbot('.child',5);
    noOrbk('.child',child);
    //高尔夫
    var golf = new scrollbot('.golf',5);
    noOrbk('.golf',golf);
    //网球
    var tennis = new scrollbot('.tennis',5);
    noOrbk('.tennis',tennis);
    //室内泳池
    var swimming = new scrollbot('.swimming',5);
    noOrbk('.swimming',swimming);

    function noOrbk(ele,sty) {
        sty.setStyle({
            display:'none'
        },{
            display:'none'
        });

        $(ele).on('mouseenter',function () {
            sty.setStyle({
                background:'#9400D3',
                display:'block'
            },{
                background:'#FCDEFC',
                display:'block'
            })
        });
        $(ele).on('mouseleave',function () {
            sty.setStyle({
                background:'#9400D3',
                display:'none'
            },{
                background:'#FCDEFC',
                display:'none'
            })
        });
    }
</script>
<!--//排他逻辑-->
<script>
    $('.navs ul li:first-child').addClass('active');
    $('.content').hide();
    $('.content').eq(0).show();
    $('.navs ul li').mousemove(function () {
        $(this).addClass('active').siblings().removeClass('active');
        idx = $(this).index();
        $('.content').eq(idx).show();
        $('.content').not($('.content').eq(idx)).hide();

    })
</script>