<link rel="stylesheet" href=/css/reside.css>
<div id="reside_wrap">
    <div class="reside_box">
        <div class="reside_left">
            <div class="reside_l_bt">
                <div class="reside_l_cn">住在庄园</div>
                <div class="reside_l_en">Live in the farm </div>
            </div>

        </div>

        <div class="reside_right">
            <div class="reside_r_wrap">
                <div class="reside_r_nav" id="reside_r_nav">
                    <ul>
                        <li class="reside_r_item">国际度假小镇</li>
                        <li class="reside_r_item">薰衣草客栈</li>
                        <li class="reside_r_item">客栈配套</li>
                    </ul>
                </div>

                <div class="reside_r_wrap">
                    <div class="reside_r_content">
                        <div class="reside_r_s_item">
                            <ul class="custom-scroll reside_r_item1">
                                <div>
                                    <div>
                                        <p class="p_center">薰衣草国际度假小镇</p>
                                    </div>
                                    <div>
                                        <p>薰衣草国际度假小镇位于伊滨新区洛阳中国薰衣草庄园内，距龙门石窟风景区4公里，距洛龙区政府9公里，距高铁龙门站7公里，高铁大道及希望大道两条跨河大道自西向东穿过薰衣草庄园，交通十分便捷。</p>
                                    </div>
                                    <div>
                                        <p>目前，薰衣草小木屋度假村度假村拥有独立别墅44套，其中豪华木屋6套，特色木屋8套，精致木屋28套，总统套房2套，户型分为两室一厅与一室一卫两类，木屋材料采用东北原木，自然原始，独有一番滋味。木屋度假小镇分为四大主题区域：美洲区、非洲区、南欧区和东南亚区，各个木屋按其所属区域风格进行装修，拥有浓郁异域风情！</p>
                                    </div>
                                    <div>
                                        <p>配套方面，目前园区拥有大小餐厅3个，其中有钢琴餐厅、高级会所餐厅、薰衣草主题餐吧，为宾客提供各种美味佳肴。</p>
                                    </div>
                                    <div>
                                        <p>娱乐方面，拥有跑马场、卡丁车赛道、高尔夫练习场、游乐场、网球场、篮球场等室外休闲场所，还配备有室内恒温游泳池、室内高尔夫室、乒乓球室、棋牌室、健身房等综合娱乐场所！</p>
                                    </div>
                                    <div>
                                        <p>大面积薰衣草、马鞭草、油菜花的种植让小木屋度假村四面皆景。回归健康的惬意。最天然的住宿方式，最丰富的娱乐活动、最浪漫的薰衣草环境，未来，薰衣草小木屋度假村将成为您在洛阳旅游度假、享受自然的最佳下榻处！</p>
                                    </div>
                                    <div>
                                        <p class="p_phone">咨询电话：0379--63081118</p>
                                    </div>
                                    <p class="p_bold">即日起，木屋别墅酒店和薰衣草主题客栈延至下午<span>2</span>点退房，市区提供专车免费接送服务，需接送请提前打预约电话：379-63081118</p>
                                </div>
                                <div>
                                    <p><img width="680" height="406" alt="" src="/images/reside/1466576810.png">&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p><img width="682" height="455" alt="" src="/images/reside/1466576839.png">&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p><img width="693" height="460" alt="" src="/images/reside/1466576859.png"></p>
                                    <p>&nbsp;</p>
                                    <p><img width="681" height="451" alt="" src="/images/reside/1466576883.png">&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p><img width="687" height="456" alt="" src="/images/reside/1466241561.jpg"></p>
                                </div>
                                <div>&nbsp;</div>
                            </ul>
                            <ul  class="custom-scroll reside_r_item2">
                                <div>
                                    <p>
                                        <p>薰衣草客栈是聘请顶级酒店设计师设计装修的一家花园主题酒店。酒店交通便利，东临洛阳市伊滨区，南至龙门景区，西接龙门大道，北临洛偃快速路，驾车至二广高速公路、洛阳高速铁路龙门站及世界文化遗产龙门石窟仅需5分钟。</p>
                                        <p>薰衣草客栈房间共计56间，分为豪华套房，豪华高档标准间和大床房。其中大床24间（双拼9间，圆床3间），标间30间，套间2间并配备中型会议室一个。</p><br>
                                        <p>房间设计高贵典雅，以独特的魅力和视角打造出以花海，海洋，浪漫为主题的特色花园主题酒店，给宾客带来全新的体验，客栈还提供高尔夫球场，游泳池，温泉，卡丁赛车场，游乐园，美食广场等休闲娱乐设施，让您入住更加舒适，享受更多超值服务。</p><br>
                                        <p class="p_bold">客栈电话：0379--63089000转1111或2222</p>
                                    </p>
                                    <p>
                                        <p>即日起，木屋别墅酒店和薰衣草主题客栈延至下午2点退房，市区提供专车免费接送服务，需接送请提前打预约电话：0379-63081118。</p>
                                    </p>
                                    <p ><img width="600" height="800" alt="" src="/images/reside/1466245306.jpg"></p>
                                    <p >&nbsp;</p>
                                    <p ><img width="650" height="365" alt="" src="/images/reside/1466245312.jpg"></p>
                                    <p >&nbsp;</p>
                                    <p ><img width="650" height="372" alt="" src="/images/reside/1466245318.jpg"></p>
                                    <p >&nbsp;</p>
                                    <p ><img width="650" height="433" alt="" src="/images/reside/1466245323.jpg"></p>
                                    <p >&nbsp;</p>
                                    <p ><img width="650" height="433" alt="" src="/images/reside/1466245329.jpg"></p>
                                    <p >&nbsp;</p>
                                    <p ><img width="650" height="433" alt="" src="/images/reside/1466245335.jpg"></p>
                                    <p >&nbsp;</p>
                                    <p ><img width="650" height="433" alt="" src="/images/reside/1466245340.jpg"></p>
                                </div>
                            </ul>
                            <ul  class="custom-scroll reside_r_item3">
                                <p>薰衣草国际度假小镇配套齐全，设施完善，餐饮、娱乐、一应俱全。餐饮上，拥有三座主题餐厅：钢琴餐厅、高级会所餐厅、薰衣草主题餐吧；</p></p>
                                <p><img width="550" height="417" alt="" src="/images/reside/1422343823.jpg"></p>
                                <p><img width="550" height="453" alt="" src="/images/reside/1422343840.jpg"></p>
                                <p><img width="550" height="433" alt="" src="/images/reside/1422343852.jpg"></p>
                                <p>娱乐方面，包括室外娱乐设施与室内娱乐设施。室外娱乐设施包括：跑马场、卡丁车、高尔夫练习场、游乐场、网球场、篮球场；</p></p>
                                <p><img width="529" height="315" src="/images/reside/1466577344.jpg"></p></p>
                                <p><img width="518" height="620" alt="" src="/images/reside/1422343873.jpg"></p>
                                <div><p>室内娱乐设施包括：室内恒温游泳池、室内高尔夫室、乒乓球室、棋牌室、健身房等；</p></div>
                                <p><img width="550" height="272" alt="" src="/images/reside/1422343889.jpg"></p>
                                <p><img width="550" height="333" alt="" src="/images/reside/1422343904.jpg"></p>
                                <p><img width="550" height="365" alt="" src="/images/reside/1422343917.jpg"></p>
                                <p><img width="550" height="313" alt="" src="/images/reside/1422343932.jpg"></p>
                                <p><img width="550" height="257" alt="" src="/images/reside/1422343946.jpg"></p>
                                <div><p>特色服务:</p></div>
                                <div><p>　1特色早餐</p></div>
                                <div><p>　2场景布置</p></div>
                                <div><p>　提供求婚创意、求婚道具和场地的精心布置，在小木屋让一切都与众不同。</p></div>
                                <div><p>　3专职花车</p></div>
                                <div><p>　在薰衣草庄园随时需要，都有花车接送。</p></div>
                                <div><p>　4赠送生日蛋糕</p></div>
                                <div><p>　在薰衣草国际度假小镇，居住最原生态的木屋，漫步浪漫的薰衣草花海，体验最全面的娱乐配套，骑马 、打球、游泳、健身……</p></div>
                                <div><p>　告别工作的繁忙，远离城市的喧嚣，带上您的家人朋友来到这里</p></div>
                                <div><p>　度假不是一场匆匆的住宿、离开</p></div>
                                <div><p>　来到这里，融入这里</p></div>
                                <div><p>　体验回归自然的感觉</p></div>
                                <div><p>　享受真正的度假生活！</p></div>

                            </ul>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--<script src="/js/scrollbot.min.js"></script>-->
<script>
//    var custom1=new scrollbot(".reside_r_item1")
    $('#reside_r_nav ul li').on('mouseenter',function(){
        $(this).css({ "background-color":"#664184",
        "cursor": "pointer"}).siblings().css({"background":"#8E72A6"});
        $('.reside_r_s_item ul').eq($(this).index()).css("display","block").siblings().css("display","none");
    })
</script>