#reside_wrap{
    background: url("../images/nybj1.jpg") no-repeat;
    width: 1400px;
    height: 646px;
    margin: 0 auto;
}
.reside_box{
    width: 980px;
    height: 646px;
    margin: 0 auto;
    /*overflow: hidden;*/
}
.reside_left{
    width: 250px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
.reside_right{
    width: 690px;
    float: left;
}
.reside_l_bt{
    width: 250px;
    height: 80px;
    padding-reside: 45px;
    box-sizing: border-box;
    color: #461B6A;
    position: relative;
}
.reside_l_cn{
    font-size: 28px;
    padding-top: 20px;
    text-align: center;
    box-sizing: border-box;
}
.reside_l_en{
    font-size: 16px;
    padding-top: 0px;
    text-align: center;
    box-sizing: border-box;
}
.reside_l_bt::after{
    content: '';
    width: 45px;
    height: 60px;
    background: url("../images/nybt.png");
    background-size:100%;
    position: absolute;
    top: 15px;
    right: 15px;
}

/*右边*/
.reside_r_wrap{
    width: 690px;
    height: 600px;

}
.reside_r_nav{
    width: 690px;
    height: 30px;
    background-color: #8e72a6;
    padding-left:15px;
    box-sizing: border-box;
    margin-top: 20px;
}
.reside_r_nav>ul{
    list-style: none;

}
.reside_r_nav>ul li{
    height: 30px;
    width: 90px;
    color: white;
    float: left;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
/*.reside_r_nav>ul li:hover{*/
    /*background-color:#664184;*/
    /*cursor: pointer;*/
/*}*/
.reside_r_content,.reside_r_scrollbar{
    width: 690px;
    height: 500px;
}
.reside_r_s_item{
    width: 690px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.reside_r_s_item ul{
    display: none;
    /*overflow-y: auto;*/
}
.reside_r_s_item ul:nth-child(1){
    display: block;
}
/*公共字体设置*/
p{
   font-size: 18px;
    color:#7D4190;
    line-height: 40px;
    text-indent: 2em;
    text-align: left;
}
.p_center{
    text-align: center;
    line-height:50px;
}
p.p_phone{
    font-size: 30px;
    font-weight: 800;
    line-height: 100px;
    text-align: center;
}
p.p_bold{
    font-weight: 200;
    font-size: 24px;
    line-height: 50px;
}

